@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.light {
		--color-bg: 249 250 251;
		--color-bg-50: 240 242 245;
		--color-bg-100: 226 231 236;
		--color-bg-200: 207 215 223;
		--color-bg-300: 188 199 210;
		--color-bg-400: 169 183 198;
		--color-bg-500: 131 151 172;
		--color-bg-600: 96 120 143;
		--color-bg-700: 70 88 105;
		--color-bg-800: 45 56 67;
		--color-bg-900: 19 24 29;

		--color-border: 235 240 244;
		--color-border-50: 229 231 233;
		--color-border-100: 213 216 218;
		--color-border-200: 194 200 204;
		--color-border-300: 177 184 189;
		--color-border-400: 160 168 175;
		--color-border-500: 81 118 148;
		--color-border-600: 63 92 115;
		--color-border-700: 45 66 82;
		--color-border-800: 27 39 49;
		--color-border-900: 9 13 16;

		--color-nav: 255 255 255;
		--color-nav-100: 228 230 235;

		--color-primary: 151 153 181;
		--color-primary-50: 247 247 248;
		--color-primary-100: 240 240 242;
		--color-primary-200: 217 217 222;
		--color-primary-300: 194 194 202;
		--color-primary-400: 148 148 162;
		--color-primary-500: 102 102 122;
		--color-primary-600: 92 92 110;
		--color-primary-700: 61 61 73;
		--color-primary-800: 46 46 55;
		--color-primary-900: 31 31 37;

		--color-secondary: 217 213 220;
		--color-secondary-50: 253 253 253;
		--color-secondary-100: 251 251 252;
		--color-secondary-200: 246 245 246;
		--color-secondary-300: 240 238 241;
		--color-secondary-400: 228 226 231;
		--color-secondary-500: 217 213 220;
		--color-secondary-600: 195 192 198;
		--color-secondary-700: 130 128 132;
		--color-secondary-800: 98 96 99;
		--color-secondary-900: 65 64 66;

		--color-accent: 225 74 99;
		--color-accent-50: 254 246 247;
		--color-accent-100: 252 237 239;
		--color-accent-200: 248 210 216;
		--color-accent-300: 243 183 193;
		--color-accent-400: 234 128 146;
		--color-accent-500: 225 74 99;
		--color-accent-600: 203 67 89;
		--color-accent-700: 135 44 59;
		--color-accent-800: 101 33 45;
		--color-accent-900: 68 22 30;

		--color-success: 24 177 103;

		--color-error: 230 30 66;

		--color-text: 18 22 22;
		--color-text-50: 243 243 243;
		--color-text-100: 231 232 232;
		--color-text-200: 196 197 197;
		--color-text-300: 160 162 162;
		--color-text-400: 89 92 92;
		--color-text-500: 18 22 22;
		--color-text-600: 16 20 20;
		--color-text-700: 11 13 13;
		--color-text-800: 8 10 10;
		--color-text-900: 5 7 7;

		--color-tag: 79 68 95;
		--color-tag-100: 157 56 56;
		--color-tag-200: 208 159 54;
		--color-tag-300: 48 88 204;
		--color-component-tag: 83 104 125;
	}

	.input-base,
	.input-like {
		@apply focus:ring-0 focus:ring-offset-0 leading-6 w-full border border-color-border-50 focus:border-color-accent py-1 px-2 text-color-text-600 focus:text-color-text bg-color-bg hover:bg-color-bg-50 focus:bg-color-bg-100 rounded-lg;
	}
}
