@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.light {
		--color-bg: 253 253 254;
		--color-bg-100: 235 235 245;
		--color-bg-200: 212 212 234;
		--color-bg-300: 178 178 217;
		--color-bg-400: 137 137 196;
		--color-bg-50: 244 244 249;
		--color-bg-500: 92 92 174;
		--color-bg-600: 66 66 132;
		--color-bg-700: 46 46 91;
		--color-bg-800: 29 29 57;
		--color-bg-900: 17 17 34;

		--color-border: 235 240 244;
		--color-border-100: 217 226 234;
		--color-border-200: 195 210 222;
		--color-border-300: 164 186 205;
		--color-border-400: 125 157 184;
		--color-border-50: 225 232 238;
		--color-border-500: 87 126 157;
		--color-border-600: 64 92 116;
		--color-border-700: 42 62 77;
		--color-border-800: 25 36 46;
		--color-border-900: 13 19 24;

		--color-nav: 254 254 255;
		--color-nav-100: 228 230 235;

		--color-primary: 100 107 162;
		--color-primary-50: 245 245 249;
		--color-primary-100: 225 226 237;
		--color-primary-200: 205 207 225;
		--color-primary-300: 185 188 213;
		--color-primary-400: 145 150 189;
		--color-primary-500: 126 131 177;
		--color-primary-600: 90 96 149;
		--color-primary-700: 78 84 129;
		--color-primary-800: 66 71 110;
		--color-primary-900: 54 58 90;

		--color-secondary: 170 174 218;
		--color-secondary-100: 228 230 243;
		--color-secondary-200: 206 208 233;
		--color-secondary-300: 172 176 219;
		--color-secondary-400: 131 138 201;
		--color-secondary-50: 237 238 247;
		--color-secondary-500: 86 96 181;
		--color-secondary-600: 62 70 142;
		--color-secondary-700: 44 50 101;
		--color-secondary-800: 29 33 67;
		--color-secondary-900: 19 22 44;

		--color-accent: 225 74 99;
		--color-accent-50: 254 246 247;
		--color-accent-100: 252 237 239;
		--color-accent-200: 248 210 216;
		--color-accent-300: 243 183 193;
		--color-accent-400: 234 128 146;
		--color-accent-500: 225 74 99;
		--color-accent-600: 203 67 89;
		--color-accent-700: 135 44 59;
		--color-accent-800: 101 33 45;
		--color-accent-900: 68 22 30;

		--color-success: 98 207 77;
		--color-success-50: 241 251 239;
		--color-success-100: 232 248 229;
		--color-success-200: 207 240 200;
		--color-success-300: 170 229 158;
		--color-success-400: 124 215 106;
		--color-success-500: 77 197 53;
		--color-success-600: 55 141 38;
		--color-success-700: 35 90 24;
		--color-success-800: 19 47 13;
		--color-success-900: 7 19 5;

		--color-error: 223 54 75;
		--color-error-100: 252 237 239;
		--color-error-200: 247 205 210;
		--color-error-300: 240 158 167;
		--color-error-400: 230 101 116;
		--color-error-50: 254 249 249;
		--color-error-500: 220 38 60;
		--color-error-600: 161 26 41;
		--color-error-700: 104 17 27;
		--color-error-800: 57 9 15;
		--color-error-900: 25 4 6;

		--color-alert: 242 210 57;
		--color-alert-50: 254 251 236;
		--color-alert-100: 253 248 225;
		--color-alert-200: 251 241 193;
		--color-alert-300: 248 231 147;
		--color-alert-400: 244 219 91;
		--color-alert-500: 240 205 30;
		--color-alert-600: 193 163 13;
		--color-alert-700: 137 116 9;
		--color-alert-800: 91 77 6;
		--color-alert-900: 59 50 4;

		--color-text: 18 20 22;
		--color-text-100: 228 231 233;
		--color-text-200: 210 215 218;
		--color-text-300: 185 192 198;
		--color-text-400: 154 165 172;
		--color-text-50: 234 236 238;
		--color-text-500: 120 135 145;
		--color-text-600: 92 104 112;
		--color-text-700: 66 75 81;
		--color-text-800: 46 51 56;
		--color-text-900: 31 35 38;

		--color-tag: 79 68 95;
		--color-tag-100: 157 56 56;
		--color-tag-200: 208 159 54;
		--color-tag-300: 48 88 204;
		--color-component-tag: 83 104 125;
	}
}

.input-base,
.input-like {
	@apply focus:ring-0 focus:ring-offset-0 outline-none leading-6 w-full border border-color-border-50 hover:border-color-border-200 focus:border-color-primary py-1 px-2 text-color-text/70 focus:text-color-text bg-color-bg rounded-lg;
}

.icon {
	@apply w-5 aspect-square;
}

.interactive-text {
	@apply text-color-text-500 hover:text-color-text;
}

.interactive-bg {
	@apply bg-color-bg hover:bg-color-bg-50;
}

.selectable-node {
	@apply hover:bg-color-bg-100 hover:text-color-primary rounded-md;
}

.selected-node {
	@apply bg-color-primary text-color-text-50 rounded-md;
}

.true {
	@apply !bg-color-primary !text-color-text-50;
}

.true:focus {
	@apply !bg-color-primary !text-color-text-50;
}

.resettable-false {
	@apply !bg-color-primary !text-color-text-50;
}

.resettable-false:focus {
	@apply !bg-color-primary !text-color-text-50;
}

.lighten-text {
	@apply text-color-text-500;
}

.btn-common {
	@apply px-4 py-1 cursor-pointer rounded-lg flex gap-2 items-center font-semibold;
}

.btn-primary {
	@apply btn-common bg-color-primary hover:bg-color-primary-400 text-color-text-50;
}

.btn-secondary {
	@apply btn-common bg-color-secondary hover:bg-color-secondary-200 text-color-text;
}

.btn-base {
	@apply px-2 cursor-pointer rounded-lg flex gap-2 items-center font-semibold hover:bg-color-bg-50 hover:text-color-primary text-color-text;
}

.no-after-cutoff {
	@apply translate-x-0;
}

.overlay-element {
	@apply bg-color-bg shadow-md shadow-color-border-100 border border-color-border-100 rounded-lg text-color-text;
}

.arrow {
	@apply border-color-border-100 w-3 h-3 absolute bg-color-bg rotate-45 z-30 top-0 translate-y-[var(--arrow-y)] left-[var(--arrow-x)];
}

.arrow-top {
	@apply border-t border-l;
}

.arrow-bottom {
	@apply border-b border-r;
}

.gradient-normal {
	@apply bg-color-bg border border-color-bg-100 bg-gradient-to-r from-color-bg-200/10 to-color-bg to-30%;
}

.gradient-info {
	@apply bg-color-bg border border-color-primary/20 bg-gradient-to-r from-color-primary/10 to-color-bg to-30%;
}

.gradient-alert {
	@apply bg-color-bg border border-color-alert/20 bg-gradient-to-r from-color-alert/10 to-color-bg to-30%;
}

.gradient-success {
	@apply bg-color-bg border border-color-success/20 bg-gradient-to-r from-color-success/10 to-color-bg to-30%;
}

.gradient-error {
	@apply bg-color-bg border border-color-error/20 bg-gradient-to-r from-color-error/10 to-color-bg to-30%;
}
